<li>
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <%= message.body %>
      <!-- messages within the conversations that people set -->
    </div>
  </div>
</li>
