<li>
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <%= user.first_name %>
      <%= message.user.email %>
    </div>
  </div>
</li>
