<%= render 'background' %> <!-- Render Background Partial -->
<!--Using Flexbox and Bootstrap stlying to align elements in the center of the page-->
<div class="app app-root flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <!-- How many rows wide my center container is -->
      <div class="col-md-8">
        <div class="landing">
          <header>
            <div class="logo">
              <h4><i class="fa fa-user-plus"></i>plusOne</h4>
            </div>

            <hr class="landing-hr">

            <div class="slogan">
              <h2>Achieve great things together.</h2>
            </div>

            <div class="login">
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary landing-white-400' %>
              <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary landing-white-400' %>
            </div>
          </header>

          <footer class="copyright">
            <br>
            <p class="landing-white-400">CTP Project by <a class="landing-white-400" href="http://samedwardprice.com">Sam Price</a></p>
            <p class="landing-white-400">Copyright 2017. ALL RIGHTS RESERVED</p>

            <div class="social">
              <a href="#" class="btn btn-facebook icon"><span>Facebook</span></a>
              <a href="#" class="btn btn-twitter icon"><span>Twitter</span></a>
              <a href="#" class="btn btn-github icon"><span>Github</span></a>
            </div>

          </footer>

        </div> <!--.landing -->


      </div> <!--.col-md-8-->
    </div>
  </div>
</div>
