<% title 'Profile Setup' %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h3 class="title">Profile Setup</h3>
        <p class="category">Setup your profile settings to make it easier for others to find you.</p>
      </div> <!-- end card header -->

      <div class="card-content">
          <!-- passed the page into a partial -->
          <%= render 'users/edit/setup'%>

      </div>
    </div>
  </div>
</div>
