// Using SASS and importing vendor/custom scss files
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "material";
@import "material-kit";
@import "material-dashboard";
@import "font-awesome-sprockets";
@import "font-awesome";


// Variables and mixins
@import "material/variables";
@import "material/mixins";

// Components
@import "material/menu";
@import "material/badge";
@import "material/button";
@import "material/card";

@import "material/shadow";

@import "material/material-icons";
// @import "material/typography";

@import "landings";
@import "dashboards";
@import "devise";


body{
  background: #f5f5f5;
}

.black {
  color: rgba(0,0,0, 0.87);
}

.text-left {
  text-align:left;
}

.user-name {
  max-width: 100%;
  color: black;
}
.user-name h2, h3, h4 {
  margin: 10px 0 0 0;
}
.no-vis {
  visibility: hidden;
}

@media (max-width: 1000px) {
  .no-vis {
    display:none;
  }
}

.btn-btm-right {
  position: absolute;
  bottom:10;
  right:15px;
}

@media (max-width: 520px) {
  .btn-btm-right{
    position: relative;
    right:0;
  }
  .sm-btn-block {
    width: 100%;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
