//////
// Setup Page Styling
//////
// .setting-container {
//   display:inline;
//   float: left;
//   margin-left: 0.75%;
//   margin-right: 0.5%;
// }
//
.icon {
  // width:150px;
  // display:inline;
  // float: left;
  // margin-left: 0.75%;
  // margin-right: 0.5%;
  //display:inline-flex;
  //flex-direction:row;
  //justify-content: space-between;
}

.icon-box {
  margin: 0 auto;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    //margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #fff;
}

.icon input:checked ~ .icon-box {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}
