h1, h2 {
  font-family: 'Exo 2', sans-serif;
}

abbr[title="required"] {
  color:#23B7E5;
}

.app-root p.help-block {
  color: #263238;
}

.app-root hr {
  max-width: 400px;
  border-color: #fff;
}

.app-root a:hover {
  color:#23B7E5;
  text-decoration:none;
}

.white {
  color: #fff;
}

.uppercase {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.app-root .login-form {
  text-align:left;
}

.app-root .login-form a {
  color: #263238;
}

.app-root .login-form a:hover {
  color: #23B7E5;
}

/* Inside Form */

.app-root .card-group hr {
  margin-top:25px;
  max-width:50px;
  border-color: #fff;
}

.app-root .form-actions {
  margin-bottom:8px;
}
