.header-bg {
  background-image: image-url('bg3.jpg');
}

.header {
  background-image: image-url('bg3.jpg');
  -webkit-transition: background-image 5s linear;
  transition: background-image 5s linear;
}
