.header {
  background-image: url('bg2.jpg');
  transition: background-image 10s linear;
}

[data-slides] {
	background-image: url('bg2.jpg'); /* Default image. */
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	transition: background-image 1s linear;
}
