<footer class="app-footer">
    <a href="http://samedwardprice.com" target="_blank">Sam Price</a> © 2017.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
