<!-- Display all main content wrapped inside this code -->
<div class="wrapper">

  <%= render 'layouts/sidebar' %>

  <div class="main-panel">

    <%= render 'layouts/nav' %>

    <div class="content">
      <div class="container-fluid">
        <div class="animated fadeIn">

          <!-- Yield renders all pages that are called. They are within the container and animated class -->
          <%= yield %>

        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>
